<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>pizza cart</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/simple-grid.css">
	<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css">

</head>

<body>

	

	<div class="container" >
		
		
		<div class=" heading center">
        Perfect Pizza
    </div>
	
	
		{{{body}}}
	<div class="contain contact-us">

        <h2>Contact Details</h2>

        <p id="contact">
            Contact us at: 0761890918 <br>
            info@pizzaPerfect.co.za <br>
            Whatsapp/Facebook/Instagram <br>
            @pizzaPerfect
        </p>

        <p id="location">
            bluehills <br>
            mall of Africa 
        </p>
    </div>

    <div class="footer">
        Viollah Mudau | Pizza Perfect Cart |  2021
    </div>
	</div>
</body>
<script src="/index.js"></script>
</html>
