<h1>Add delivery</h1>

<form action="/delivery_add" method="POST">
    <div class="field">
        <label for="">Street</label>
        <input type="text" name="street">
    </div>
    <div class="field">
        <label for="">Agent</label>
        <input type="text" name="agent">
    </div>
    <div class="field">
        <label for="">contact</label>
        <select name="contact" id="">
            <option></option>
            <option>call</option>
            <option>sms</option>
            <option>email</option>
        </select>
    </div>
    <div class="field">
        <label for="">Cost</label>
        <input type="number" name="cost">
    </div>
    <div>
        <input type="submit" name="" id="" class="submit">
    </div>
</form>