<h1>Pizzas</h1>
<a href="/pizza_add">add pizza</a>
{{pizzas}}
<form action="">
    <table>
    {{#each pizzas}}
<tr>
    <td>{{flavour}}</td>
    <td>{{size}}</td>
    <td>{{price}}</td>
</tr>
{{/each}}
</table>
</form>

