<h1>Add pizza</h1>

<form action="/pizza_add" method="POST">
    <div class="field">
        <label for="">flavour</label>
        <input type="text" name="flavour">
    </div>
    <div class="field">
        <label for="">Size</label>
        <select name="size" id="">
            <option></option>
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
        </select>
    </div>
    <div class="field">
        <label for="">Price</label>
        <input type="number" name="price">
    </div>
    <div>
        <input type="submit" name="" id="">
    </div>
</form>